.house-type {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 27px;
  border-top: 1px solid $color-lighterGrey;
  border-bottom: 1px solid $color-lighterGrey;
  background-color: $color-white;

  @media (min-width: $screen-tablet) {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid $color-lighterGrey;
  }

  @media (min-width: 769px) {
    max-width: 780px;
    margin-right: auto;
    margin-left: auto;
  }
}

.house-type__title {
  display: block;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-lightGrey;

  @media (min-width: $screen-tablet) {
    width: 100%;
    padding-top: 62px;
    padding-bottom: 58px;
  }
}

.house-type__title::after {
  @media (min-width: $screen-tablet) {
    position: absolute;
    content: '';
    width: 1px;
    height: 88px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-lighterGrey;
  }
}

.house-type__title--active {
  color: $color-black;
}

.house-type__title--active::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-445%,-50%);
  background: transparent url('../img/sprites.png') left top no-repeat;
  background-position: -263px -68px;

  @media (min-width: $screen-tablet) {
    top: 67%;
    transform: translate(-50%, 0);
  }
}

.house-type__type {
  display: none;
}
