.info {
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;

  @media (min-width: $screen-desktop) {
    padding-top: 0;
    padding-left: 0;
  }
}

.info__block {
  margin-bottom: 45px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 52px;
  }
}

.info__block--margin {
  @media (min-width: $screen-tablet) {
    margin-bottom: 22px;
  }
}

.info__block--cost {
  @media (min-width: $screen-tablet) {
    margin-bottom: 37px;
  }
}

.info__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "PT Serif";
  font-weight: normal;
  font-size: 26px;
  line-height: 19px;
  letter-spacing: 0.4px;
}

.info__description {
  margin-top: 27px;
  margin-bottom: 0;
  font-family: "Fira Sans";
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $screen-tablet) {
    width: 75%;
  }

  @media (min-width: $screen-desktop) {
    width: 100%;
  }
}

.info__item {
  position: relative;
  padding-left: 10px;
  font-family: "Fira Sans";
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  &::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    left: -4px;
    top: 50%;
    border-top: 1px solid $color-orange;
    border-right: 1px solid $color-orange;
    transform: rotate(45deg) translateY(-50%);
  }

  @media (min-width: $screen-tablet) {
    width: 290px;
  }
}

.info__item--uppercase {
  text-transform: uppercase;
}

.info__list {
  @include simple-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 26px;
  margin-bottom: 0;
}

.info__list--column {
  @media (min-width: $screen-tablet) {
    height: 125px;
    align-content: flex-start;
  }
}

.info__list--bigger-margin {
  margin-top: 24px;
}
