.main-gallery {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;

  @media (min-width: $screen-tablet) {
    min-height: 400px;
  }

  @media (min-width: $screen-desktop) {
    max-width: $container-desktop;
    margin-bottom: 39px;
    min-height: 616px;
  }
}

.main-gallery__image {
  display: block;
  width: 100%;
}
