@mixin simple-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $container-tablet;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $screen-tablet) {
    max-width: $container-desktop;
  }

  @media (min-width: $screen-desktop) {
    max-width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@mixin clear-button {
  border: none;
  background-color: transparent;
}

