.place {
  min-width: $screen-mobile;
  max-width: $container-tablet;
  margin: 0 auto;
  background: $color-teal url('../img/place-bg-mobile.png') center top no-repeat;
  background-size: cover;

  @media (min-width: $screen-tablet) {
    min-width: $screen-tablet;
    max-width: $container-desktop;
    background-image: url('../img/place-bg-tablet.png');
  }

  @media (min-width: $screen-desktop) {
    width: 100%;
    max-width: 100%;
    background-image: url('../img/place-bg-desktop.png');
  }
}

.place__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 41px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  text-align: center;


  @media (min-width: $screen-tablet) {
    width: $container-tablet;
    padding-top: 39px;
    padding-bottom: 35px;
  }

  @media (min-width: $screen-desktop) {
    width: $container-desktop;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.place__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  color: $color-white;
  letter-spacing: 4px;
  font-family: "PT Sans Caption";
  font-weight: normal;
  font-size: 26px;

  @media (min-width: $screen-tablet) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.place__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  @media (min-width: $screen-tablet) {
    justify-content: space-between;
  }

  @media (min-width: $screen-desktop) {
    justify-content: center;
  }
}

.place__item {
  width: 280px;
  background-color: $color-white;
  margin-bottom: 17px;
  padding-bottom: 43px;

  @media (min-width: $screen-tablet) {
    width: 355px;
  }

  @media (min-width: $screen-desktop) {
    width: 380px;
    margin-right: 20px;
  }
}

.place__image {
  @media (min-width: $screen-tablet) {
    height: 200px;
  }
}

.place__info {
  margin-top: 29px;
  margin-bottom: 5px;
  font-family: "PT Serif";
  font-size: 26px;
  font-weight: normal;

  @media (min-width: $screen-tablet) {
    margin-bottom: 1px;
  }
}

.place__cost {
  font-weight: 500;
  font-size: 14px;

  @media (min-width: $screen-tablet) {
    text-transform: uppercase;
  }
}

.place__selected-text {
  font-size: 18px;
  color: $color-orange;
}

.place__upper-text {
  text-transform: uppercase;
}

