.train-description {
  display: block;
  margin: 0 auto;
  width: 225px;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $screen-tablet) {
    width: 335px;
  }

  @media (min-width: $screen-desktop) {
    text-align: left;
  }
}
