$screen-mobile:               320px;
$screen-tablet:               768px;
$screen-desktop:              1200px;

$container-mobile:            280px;
$container-tablet:            728px;
$container-desktop:           1180px;

$color-black:                 #191919;
$color-white:                 #ffffff;
$color-grey:                  #4c4c4c;
$color-lightGrey:             #979696;
$color-lighterGrey:           #ebebeb;
$color-teal:                  #0ab89d;
$color-orange:                #ff7435;
$color-darkOrange:            #e85715;
$color-form-bg:               #f1f1f1;
$color-step-number:           #929292;
